.DS_Store
**/.DS_Store
node_modules
dist
coverage
.env
.env.local
backend/uploads
mobile/.dart_tool
mobile/.flutter-plugins-dependencies
mobile/build
mobile/.idea
admin/.angular
*.log
*.iml
serviceAccount.json
google-services.json
GoogleService-Info.plist
